.container{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items:center;
    gap:50px;
}
.img{
    flex:1;
    
}
.textContainer{
    flex:1;
    display: flex;
    gap:100px;
    justify-content: space-between;
    align-items: start;
}

.item{
    flex:1;
}