.mainTitle{
  font-size: 100px;
}
.container{

}

.selectTitle{
    margin:20px 0px;
    font-size: 40px;
}

.items{
    display:flex;
    gap:50px;
}

.item{
    border:5px solid #555;
    border-radius: 5px;
    height:300px;
    width:300px;
    position:relative;
    
 
}

.item:nth-child(1)
{
    background: url("/images/illustration.png");
    background-size: cover;
}
.item:nth-child(2)
{
    background: url("/images/websites.jpg");
    background-size: cover;
}
.item:nth-child(3)
{
    background: url("/images/apps.jpg");
    background-size: cover;
}

.title{
    position: absolute;
    bottom:10px;
    right:10px;
    font-size: 40px;
    font-weight: bold;
    color: #bbb;
}

:hover.title{
    color:aquamarine;
}