.container{
    display: flex;
    gap:50px;
    justify-content: start;
    align-items: center;
    margin-bottom: 50px;
}

.imgeContainer{
    flex:1;
    width:500px;
    display: flex;
    flex-direction: column;
    gap:20px;
    
}

.img{
    object-fit: cover;
}


.content{
    flex:1      
}

.title{
    font-size: 30px;
    font-weight: bold;
}

.text{
    font-size: 18px
}